# Node.js
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.lerna/
.npmrc
.npmignore
.pnp.js
*.tgz
yarn-integrity
.env
.env.local
.env.*.local
.env.*.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock
*.lock-wscript
*.tsbuildinfo
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history